.container-test{
    display: flex;
    justify-content: center;
}

.items{
    margin: 2rem;
    border: 1px solid lightgray;
}

.imgBorder{
    
    width: 100%;
    height: 100%;
}


.buContainer{
    display: flex;
    justify-content: center;
}