.container-test{
    display: flex;
    justify-content: center;
}

.items{
    margin: 2rem;
    border: 1px solid lightgray;
}

.imgBorder{
    
    width: auto;
    height: 250px;
}


.buContainer{
    display: flex;
    justify-content: center;
}