.register {
  display: none;

  &__container {
    display: none;

    li {
      display: none;

      img {
        display: none;

      }

      &:last-child {
        margin-bottom: 1rem;
      }
    }
  }
}
